@font-face {
font-family: Miso;
src: url(/fonts/miso-regular.otf) format('opentype');
}

@font-face {
font-family: Miso;
font-weight: bold;
src: url(/fonts/miso-bold.otf) format('opentype');
}

.rzl-content h1, .rzl-content h2, .rzl-content h3 {
font-family: 'Miso';
text-align: left; /* Internet Explorer */
text-align: start;
}

.rzl-body {
text-rendering: optimizeLegibility;
}

.rzl-nav {
background-color: #fff;
font-weight: 400;
font-size: 25px;
font-family: 'Miso';
box-shadow: 0 0 3px rgba(153,153,153,0.75);
height: 22px;
}

.rzl-status a {
height: 50px;
}

.icon-bar {
background-color: #aaa;
}

.rzl-nav ul {
margin: 0;
background-color: #fff;
}

@media(max-width:980px) {
.rzl-nav .container {
width: 100%;
}
}

.jumbotron {
background-image: url('/images/rzl-jumbotron.jpg');
background-size: cover;
background-repeat: no-repeat;
padding-top: 80px;
margin-bottom: 0;
}

.jumbotron h1, .jumbotron p {
text-shadow: 1px 1px 2px rgba(0,0,0,0.25),
    1px 1px 2px rgba(0,0,0,0.25),
    1px 1px 2px rgba(0,0,0,0.25),
    1px 1px 2px rgba(0,0,0,0.25);
text-align: center;
font-family: 'Miso';
color: #fff;
}

#rzl-logo {
height: 39px;
margin-top: -9px;
}

.rzl-spacer {
background-color: rgba(239, 239, 239, 0.57);
padding-top: 30px;
}

.rzl-content {
color: #000;
padding: 15px;
background-color: #fff;
border: 1px solid #e6e6e6;
margin-bottom: 25px;
text-align: justify;
}

.rzl-content img, .rzl-content object, .rzl-content iframe {
max-width: 100%;
}

.rzl-blogpost {
}

.rzl-blogpost-date {
color: #8a8a8a;
font-style: italic;
margin-top: -10px;
}

.rzl-blogpost-meta {
text-align: center;
margin-top: 40px;
}

.rzl-avatar {
width: 100px;
height: 100px;
margin: 0 auto;
margin-bottom: 10px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
overflow:hidden;
box-shadow: 0 0 10px rgba(153,153,153,0.75);
background-repeat: no-repeat;
background-size: cover !important;
}

.rzl-user {
font-family: 'Miso';
font-size: 20px;
}

.rzl-function {
margin-top: -10px;
font-size: 13px;
color: #b3b3b3;
}

.rzl-separator {
margin: 0 10px;
}

.rzl-blogpost-factbox {
color: red;
box-shadow: 0 0 3px rgba(153,153,153,0.75);
margin: 0 auto;
padding: 0;
}

.rzl-blogpost-facts {
color: #999;
text-align: left;
list-style: none;
white-space: nowrap;
}

.rzl-footer {
background-color: #fff;
border-top: 1px solid rgba(230,230,230,0.75);
width: 100%;
padding-bottom: 20px;
}

.footer-group {
width: auto;
float: left;
margin-right: 15%;
font-size: 14px;
}

.footer-group h4 {
text-transform: uppercase;
color: #999;
font-size: 12px;
}

.footer-group ul {
list-style: none;
margin: 0;
padding: 0;
}

/* Legacy WP classes */
.alignleft {
float:left;
margin:15px;
}

.alignright {
float:right;
margin:15px;
}

.image, .alignnone {
display:block;
text-align:center;
margin:10px auto;
}

.image > .image_meta {
color: rgba(120, 120, 120, 1);
}

.imagecache {
margin:0 auto;
display:block;
}

/* SpinKit */

.spinner {
margin: 100px auto 0;
margin-top: 0;
width: 70px;
text-align: center;
}

.spinner > div {
width: 15px;
height: 15px;
background-color: #ccc;

border-radius: 100%;
display: inline-block;
-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
animation: bouncedelay 1.4s infinite ease-in-out;
/* Prevent first frame from flickering when animation starts */
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.spinner .bounce1 {
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}

.spinner .bounce2 {
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
0%, 80%, 100% { -webkit-transform: scale(0.0) }
40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
0%, 80%, 100% { 
  transform: scale(0.0);
  -webkit-transform: scale(0.0);
} 40% { 
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
}
}

/* rzl events */
#rzl-events:before {
top: 0;
bottom: 0;
position: absolute;
content: " ";
width: 3px;
background-color: #eeeeee;
left: 50%;
margin-left: -1.5px;
}

#rzl-events {
position:relative;
}

.rzl-event-wrap {
margin: 1em 2em;
padding: 0.5em 1em;
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
border: 1px solid #d4d4d4;
background-color:#fff;
z-index:10;
}

.rzl-event-date {
width:60px;
height:60px;
color:#fff;
background-color: #999999;
border-radius:30px;
margin-top:12px;
padding: 10px;
padding-top: 3px;
z-index:99;
text-align:center;
text-transform:uppercase;
}

@media(max-width:980px) {
.rzl-event-wrap {
margin-bottom:55px;
}

.rzl-event-date {
margin-top:-50px;
}
}

.rzl-event-name {
margin:0.25em 0;
}

.rzl-event-date span:first-child {
font-family:Miso;
font-size:30px;
font-weight:bold;
}

.rzl-event-date span:last-child {
display:block;
margin-top:-27%;
}

.rzl-event-fromnow {
	margin-bottom: 2px;
}

/* Disable text-align: justify for YouTube video archive descriptions as
 * they're usually rather short text snippets which look weird justified */
.rzl-content #youtube-archive {
        text-align: left; /* Internet Explorer */
        text-align: start;
}

dd{
  margin-bottom: 1em;
}