---
layout: post
title: Tag des offenen Hackerspace (beta)
date: 2009-12-08 12:57:00.000000000 +01:00
categories: []
tags:
- Event
- Tag des offenen Hackerspace
- Vortrag
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<div class="postentry">
<p>Wir haben noch viel vor und renovieren den neuen Raum mit vereinten Kräften.</p>
<p><span class="wysiwyg_imageupload image imgupl_floating_none imgupl_styles_spacing_5"><img src="/assets/deckenreinigung.jpg" alt="155" title="" class="imagecache wysiwyg_imageupload imgupl_styles_spacing_5 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="400" height="266" /> <span class="image_meta"></span></span></p>
<p>Das Notwendigste ist bereits vorhanden, um einen Vorgeschmack bieten zu können, was alles möglich sein wird.</p>
<p><strong>Ort:</strong> Hackerspace Rhein-Neckar (<a href="http://wiki.raumzeitlabor.de/wiki/Anfahrt">Wegbeschreibung</a>)<br /> <strong>Zeit:</strong> Sonntag, 13. Dezember, ab 13 Uhr</p>
<p>Wir bieten ein kleines Rahmenprogramm mit Vorträgen zu den Themen:</p>
<ul>
<li><a href="http://de.wikipedia.org/wiki/4chan">Internet Memes / 4Chan</a></li>
<li><a href="http://levit.at/ion/">Levitation</a></li>
<li><a href="http://en.wikipedia.org/wiki/BigTable">BigTable</a></li>
<li><a href="http://wiki.raumzeitlabor.de/wiki/">Hackerspace Rhein-Neckar</a></li>
</ul>
<p>Wenn Euch ein bestimmtes Thema interessiert, Euch selbst aber nicht  zutraut einen Vortrag zu halten, versuchen wir auch gerne kurzfristig  einen passenden Referenten zu finden. Auch seid Ihr herzlich eingeladen  eigene Vorträge oder Workshops zu halten. <a href="http://inte.kral.ws/kontakt">Sagt mir einfach Bescheid</a>, damit das koordiniert und angekündigt werden kann.</p>
<p>Zur Stärkung wird Kaffee und Kuchen organisiert. Wer belegte Brötchen möchte, möge sich bitte rechtzeitig <a href="http://inte.kral.ws/kontakt">bei mir melden</a>.</p>
<p>Der Eintritt ist frei. Um Spenden wird gebeten.</p>
</div>
