---
layout: post
title: 'GPIG: Großes Putzen im Gange'
date: 2009-11-23 10:15:00.000000000 +01:00
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<div class="postentry">
<p>Wer am 10. Oktober 2009 mit auf der <a href="http://rabe.uugrn.org/2009/10/09/hackspace-rhein-neckar/">ersten Besichtigung der Räume</a> in der Boveristraße mit dabei war, wird sich vielleicht noch erinnern (oder zur Auffrischung der Erinnerung <a href="http://wiki.raumzeitlabor.de/wiki/Der_Raum/Bilder_2009-10-10">hier</a> nachschauen), in welchem Zustand der Raum war.</p>
<p>Seither hat sich <strong>einiges</strong> getan. Eine (leider noch etwas) kleine <a href="http://wiki.raumzeitlabor.de/wiki/Helfer">Gruppe Aktiver</a> ist dabei, den Raum <a href="http://raumzeitlabor.de/wiki/Material">zu renovieren</a> zu einem Hackerspace umzugestalten (was übrigens auch <a href="http://raumzeitlabor.de/wiki/Investitionen">Geld kostet</a>). Immerhin ist das Wichtigste schon vor Ort: <a href="http://www.trickster.de/raumzeitlabor/55.html">Kaffee</a>, <a title="Suchbild: wo steht die Club Mate?" href="http://www.trickster.de/raumzeitlabor/58.html">Mate</a>, <a href="http://www.trickster.de/raumzeitlabor/73.html">Sofas</a> und eine <a href="http://www.trickster.de/raumzeitlabor/68.html">Waschmaschine</a> (WTF?). <a href="http://www.trickster.de/">Trickster</a> hat die Arbeit der letzten Zeit <a href="http://www.trickster.de/raumzeitlabor/">in dieser Gallery</a> festgehalten.</p>
<p>Was schon alles erledigt ist und was noch ansteht findet man in der <a href="http://wiki.raumzeitlabor.de/wiki/Roadmap">Roadmap</a> im <a href="http://wiki.raumzeitlabor.de/wiki">Hackerspace-Wiki</a>.</p>
<p>Have fun!<br /> Raphael</p>
<p>Übrigens: auf irc.uugrn.org:6667 im Channel #Raumzeitlabor darf geplaudert und diskutiert werden.</p>
</div>
