---
layout: post
title: Großes Koordinierungstreffen & Diskussionsabend
date: 2010-02-11 11:38:00.000000000 +01:00
categories: []
tags:
- Event
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<div class="postentry">
<p>Hallo allerseits,<br /> wir möchten Euch herzlich zum großen Koordinierungstreffen in den Hackerspace Rhein-Neckar einladen.</p>
<p>Geplant ist neben einem Bericht über den aktuellen Stand der  Arbeiten, eine konkrete Ausarbeitung des weiteren Vorgehens, um den  interessierten Vereinen Entscheidungshilfen zur Verfügung zu stellen,  damit auf zukünftigen Mitgliederversammlungen über die Form, Art und  Weise der Beteiligung entschieden werden kann.</p>
<p>Nach einer <a href="http://doodle.com/txvv9b8r34srviis">Umfrage</a> wurde als <a href="http://wiki.raumzeitlabor.de/wiki/Termine">Termin</a> <strong>Sonntag, der 14. Februar, ab 18 Uhr</strong> ausgewählt.</p>
<p>Vorläufige Tagesordnung:</p>
<ol>
<li>Begrüßung </li>
<li>Aktueller Stand der Arbeiten </li>
<li>Finanzielles </li>
<li>Organisationsform des Hackerspace </li>
<li>Beschluss des Namens </li>
<li>Sonstiges </li>
</ol>
<p>Wenn ihr Punkte für die Tagesordnung habt, bitten wir Euch diese an <a href="http://lists.raumzeitlabor.de/mailman/listinfo/raumzeitlabor">die Mailingliste des Raumzeitlabors</a> oder <a href="http://wiki.raumzeitlabor.de/wiki/Benutzer:Inte">an Inte</a> zu schicken.</p>
<p>Eine <a href="http://wiki.raumzeitlabor.de/wiki/Anfahrt">Wegbeschreibung ist im Wiki</a> zu finden.</p>
<p>Wir freuen uns auf Euer zahlreiches Erscheinen.</p>
</div>
