---
layout: post
title: Ein persönlicher Aufruf von RaumZeitLabor-Mitgründer Inte
date: 2010-12-11 11:23:45.000000000 +01:00
categories: []
tags:
- Spende
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_none_left imgupl_styles_spacing_20_black_bordernrBlack Border"><img src="/assets/wikipedia_spendenaufruf.jpg" alt="2" title="" class="imagecache wysiwyg_imageupload imgupl_styles_spacing_20_black_bordernrBlack Border imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="560" height="151" /> <span class="image_meta"></span></span></p>
<p>Als ich vor drei Jahren anderen Menschen von der Idee eines Raums von  Hackern für Hacker erzählte, habe ich Kopfschütteln geerntet.  Freiwillige aus dem ganzen Rhein-Neckar-Dreieck sollten sich zusammentun  und eine umfassende Infrastruktur anbieten, damit der kreative Umgang  mit Technik gelehrt und gelernt werden kann? Motiviert allein vom  Gedanken des konstruktiven Miteinanders und Teilens?</p>
<p><strong>Keine Einstiegshürden. Keine Profite. Keine Hintergedanken.</strong></p>
<p>Heute, drei Jahre später, nutzen über <span style="text-decoration: line-through;">40</span> 60 Mitglieder und viele freie  Geister jeden Monat das RaumZeitLabor. RaumZeitLabor – ein Synonym für  Inspiration &amp; Kooperation in Mannheim.</p>
<p>Das RaumZeitLabor ist der einzige Hackerspace im  Rhein-Neckar-Dreieck. Andere Einrichtungen die sich der Jugend- und  Erwachsenenbildung verschrieben haben verschlingen Unsummen. Sie werden  betrieben von der öffentlichen Hand oder Unternehmen mit einer Vielzahl  von Angestellten und mit immensem Werbeaufwand.</p>
<p>Das RaumZeitLabor hat nichts mit einem öffentlichen oder kommerziell  betriebenen Projekt gemein. Das RaumZeitLabor wird durch die  Gemeinschaft geschaffen – mit Leben gefüllt und gepflegt von einer  Vielzahl von Freiwilligen – Projekt für Projekt, Idee für Idee. Du  schaust bei uns vorbei, wir teilen unser Wissen mit Dir. So einfach  wirst auch Du Teil dieser Gemeinschaft.</p>
<p><strong>Ich schreibe Euch heute mit der Bitte, das RaumZeitLabor zu <a href="http://wiki.raumzeitlabor.de/wiki/Spenden">unterstützen</a> und zu erhalten.</strong></p>
<p>Gemeinsam können wir das RaumZeitLabor für jeden kostengünstig  betreiben. Gemeinsam können wir dafür sorgen, dass das RaumZeitLabor für  jeden jederzeit zugänglich bleibt – der offene Gedanke wird hier  gepflegt und die Ergebnisse unserer Projekte sind für Menschen nutzbar.  Wir können das RaumZeitLabor weiter wachsen lassen, Wissen weltweit  verbreiten und jeder, der möchte, ist zum Mitmachen eingeladen.</p>
<p>Ich wende mich an Euch – die Freunde des RaumZeitLabors – und bitte  Euch um Unterstützung bei unserer gemeinsamen Arbeit. Wenn Euch das  RaumZeitLabor als Quelle von Information und manchmal auch Inspiration  wichtig ist, dann <a href="http://wiki.raumzeitlabor.de/wiki/Spenden">hilf Du uns jetzt mit einer Spende!</a></p>
<p>Vielen Dank.</p>
<p>Euer Inte<br /> Mitgründer des RaumZeitLabor</p>
<p>P.S.: Menschen wie Du können Außergewöhnliches wie das RaumZeitLabor  erschaffen: Sie hauchen mit ihren Ideen und Projekten dem RaumZeitLabor  Leben ein. Sie <a href="http://wiki.raumzeitlabor.de/wiki/Spenden">spenden für das RaumZeitLabor, Spende für Spende.</a> Gibt es einen besseren Beweis für unsere Fähigkeit miteinander die Welt zu verändern?</p>
<p><span style="font-size: smaller;"><em>(Dieser Artikel ist eine Hommage an den </em></span><em><a href="https://spenden.wikimedia.de/spenden/?piwik_campaign=Kampagne2_Dez1&amp;piwik_kwd=2010_JA1_Banner3_DE&amp;utm_medium=sitenotice&amp;utm_campaign=Kampagne2_Dez1&amp;utm_source=2010_JA1_Banner3_DE"><span style="font-size: smaller;">Wikipedia-Spendenaufruf von Jimmy Wales</span></a></em><span style="font-size: smaller;"><em>)</em></span></p>
