---
layout: post
title: Dockstar LCD v1.0 fertig!
date: 2010-10-06 22:11:00.000000000 +02:00
categories: []
tags:
- LCD
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_right imgupl_styles_spacing_10"><img class="imagecache wysiwyg_imageupload imgupl_styles_spacing_10 imagecache imagecache-wysiwyg_imageupload_blog_standard" title="" src="/assets/IMG_01891.jpg" alt="14" width="300" height="225" /> </span></p>
<p>Unser <a href="http://wiki.raumzeitlabor.de/wiki/Dockstar_LCD">Dockstar-LCD</a>-Projekt ist endlich fertig. Für die, die nicht wissen, um was es geht: Die <a href="http://www.seagate.com/www/de-de/products/network_storage/freeagent_dockstar/" target="_blank">Seagate Dockstar</a>, ein Festplattenadapter/NAS für die <a href="http://www.seagate.com/www/de-de/products/external/freeagent/" target="_blank">Freeagent Festplatten</a>, sind derzeit für <a href="http://geizhals.at/deutschland/a469354.html" target="_blank">20-25 Euro im Handel</a> erhältlich. Durch die Rechenpower von 1.2GHz (ARM-Architektur) wird diese oft als Medien-/Heimserver eingesetzt (z.B. unter <a href="http://jeff.doozan.com/debian/" target="_blank">Debian</a> oder <a href="http://ahsoftware.de/dockstar/" target="_blank">Gentoo</a>). Meistens wird hierbei keine Festplatte eingesetzt, sodaß der Festplattenslot leer bleibt. Findige RaumZeitLabor-Ingenieure, die sich sonst um den Warp-Antrieb kümmern, wollten etwas sinnvolles in dem Festplattenslot platzieren, und so wurde das Dockstar-LCD-Projekt gebohren.</p>
<p>Das Dockstar-LCD kommuniziert mit der Dockstar über USB 1.1 und basiert auf einem Atmega8-Microcontroller. Das Display ist über LCD4Linux ansteuerbar (Achtung: Patch erforderlich!). Heute wurde Version 1.0 fertiggestellt. Auf der <a href="http://wiki.raumzeitlabor.de/wiki/Dockstar_LCD">Projektseite</a> findet ihr den Bauplan, die Bauteilliste, die Schaltpläne sowie die Firmware und den LCD4Linux-Patch. Die Bauteilkosten belaufen sich auf 20-30 Euro.</p>
<p>Die RaumZeitLabor-Crew wünscht fröhliches löten!</p>
