---
layout: post
title: RGB2Rv7 im RaumZeitLabor in Mannheim
date: 2010-10-18 12:16:00.000000000 +02:00
categories: []
tags:
- NoName
- RGB2R
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<p>Moin liebe Mitchaoten, Bastler &amp; Retrocomputingfans, der Heidelberger NoName e.V. lädt ein zur RGB2Rv7.</p>
<p><span class="wysiwyg_imageupload image imgupl_floating_none_left 0"><img src="/assets/rgb2r_logo_blau_ohne_hintergrund2.png" alt="11" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="350" height="91" /> <span class="image_meta"></span></span></p>
<p>Unsere Retrospieleparty "roots go back to the roots" findet 2010 nun zum 7. Mal statt. Dieses Jahr findet sie im RaumZeitLabor in Mannheim statt. Der Termin in diesem Jahr ist das verlängerte Wochenende vom 29.10.2010 bis zum 01.11.2010. Eine Anfahrtsbeschreibung findet ihr unter <a href="http://raumzeitlabor.de/kontakt/anfahrt/">http://raumzeitlabor.de/kontakt/anfahrt/</a></p>
<p>Das Progamm umfasst wieder jede Menge Spiel, Spaß und Action. Es gibt einen Codegolf-Wettbewerb und Spielturniere (Street Fighter, Mario Kart). Weiterhin gibt es eine Key-Signing-Party, zu der du dich vorher anmelden musst. Näheres dazu könnt Ihr in unserem Wiki unter https://www.noname-ev.de/w/RGB2R finden.</p>
<p>Um die Turniere etwas besser zu planen, bitten wir darum, Turnierwünsche in das “Sonstiges”-Feld auf dem Anmeldeformular einzutragen.</p>
<p>Dieses Jahr wird es einen kleinen Wettbewerb geben, bei dem es darum geht, Musikausschnitte aus Videospiel-Soundtracks zu erkennen. Damit es interessant wird, brauchen wir natürlich viele spannende Soundtracks und passende Bildausschnitte. Bitte melde dich bei uns, wenn du helfen kannst!</p>
<p>Weiterhin brauchen wir natürlich Mitspieler. Wer potenziell mitspielen würde (gerne auch im Team), darf sich auf folgender Wikiseite eintragen: <a href="https://www.noname-ev.de/w/RGB2Rv7/Soundtrack-R%C3%A4tsel">https://www.noname-ev.de/w/RGB2Rv7/Soundtrack-Rätsel</a></p>
<p>Solltet ihr selbst noch Ideen und Vorschläge haben was passieren soll, so sind diese gerne gesehen. Außerdem freuen wir uns über rege Beteiligung an der Planung im Wiki, über die Mailingliste (<a href="https://discordia.noname-ev.de/cgi-bin/mailman/listinfo/rgb2r">https://discordia.noname-ev.de/cgi-bin/mailman/listinfo/rgb2r</a>) und im IRC-Channel !rgb2r im IRCnet.</p>
<p>Für Fragen, Anregungen und Ideen steht euch auch noch rgb2r@noname-ev.de zur Verfügung.</p>
<p>Der Unkostenbeitrag beträgt dieses Jahr 10€ für das verlängerte Wochenende. Das Anmeldeformular findet sich unter <a href="https://www.noname-ev.de/rgb2r/anmeldung.php">https://www.noname-ev.de/rgb2r/anmeldung.php</a>. Dort gibt es auch die Möglichkeit, T-Shirts zu bestellen.</p>
<p>Wir freuen uns auf euer Kommen.</p>
