---
layout: post
title: '26C3-Videoabend #1'
date: 2010-01-12 13:49:00.000000000 +01:00
categories: []
tags:
- 26C3
- CCC
- Videoabend
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<div class="postentry">
<p><span class="wysiwyg_imageupload image imgupl_floating_right imgupl_styles_spacing_10"><img class="imagecache wysiwyg_imageupload imgupl_styles_spacing_10 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" title="" src="/assets/conference-128x128_0.png" alt="154" width="128" height="128" /> </span></p>
<p>Nachdem der <a href="http://raumzeitlabor.de/2010/01/07/26c3-videoabend-0/">letzte Videoabend</a> gut besucht war, wollen wir einen solchen nun regelmäßig zu veranstalten. Ein Schwerpunkt wird in nächster Zeit das gemeinsame Anschauen der verpassten Vorträge des 26ten Chaos Communication Congress sein. Zukünftig wird das Spektrum um die vielen frei verfügbaren Filme unter Creative Commons Lizenz erweitert werden.</p>
<p>Für den Anfang ist ein 14-Tage-Rhythmus geplant, an dessen Anfang der kommende Samstag steht:</p>
<p><strong>Ort:</strong> Hackerspace Rhein-Neckar (<a href="http://wiki.raumzeitlabor.de/wiki/Anfahrt">Wegbeschreibung</a>)<br />
<strong>Zeit:</strong> Samstag, 16. Januar, ab 18 Uhr</p>
<p>Um sicher zu gehen, dass Dein Favorit gezeigt wird, kannst Du auch gerne <a href="http://events.ccc.de/congress/2009/wiki/Conference_Recordings">eine der Aufzeichnungen</a> mitbringen.</p>
</div>
