---
layout: post
title: Einladung zur Gründung des RaumZeitLabor e.V.
date: 2010-04-14 22:52:00.000000000 +02:00
categories: []
tags:
- Event
- Verein
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<div class="postentry">
<p>Im Namen des zu gründenden RaumZeitLabor e.V. möchten wir euch alle herzlich zur Gründungsversammlung von eben diesem einladen.</p>
<p><strong>Wann:</strong> Sonntag, der 25. April 2010 um 15 Uhr<br /> <strong>Wo:</strong> RaumZeitLabor</p>
<p>Dank der Bürokratiefreunde der AG Verein haben wir bereits einen  fertigen Satzungsvorschlag und einen Vorschlag für die Beitragsordnung,  die wir dann beschließen können.</p>
<p>Weiterhin geht es darum, den zukünftigen Vorstand des Vereins zu  wählen. Vorschläge und Bewerbungen für und um die Ämter werden gerne  gesehen.</p>
<p>Neben dem guten Gefühl, den Verein zu gründen, wird es auch kulinarische Höhepunkte in Form von ofenfrischen Muffins geben.</p>
<p>Alle Details stehen im Wiki unter <a href="http://wiki.raumzeitlabor.de/wiki/Gr%C3%BCndungsversammlung">Gründungsversammlung</a>.</p>
</div>
