---
layout: post
title: '26C3-Videoabend #0'
date: 2010-01-07 23:05:00.000000000 +01:00
categories: []
tags:
- 26C3
- CCC
- Videoabend
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<div class="postentry">
<p>Der <a href="http://events.ccc.de/congress/2009/">26te Chaos Communication Congress</a> war wie immer eine äußerst gelungene Veranstaltung. Eine Delegation von  uns war in Berlin und die Daheimgebliebenen haben beim lokalen <a href="http://events.ccc.de/congress/2009/wiki/Dragons_everywhere">Dragons everywhere</a> die Vorträge verfolgt.</p>
<p>Da in der Regel drei Vorträge parallel stattfinden, besteht des  Öfteren die Notwendigkeit sich entscheiden zu müssen. Glücklicherweise  gibt es bereits jetzt <a href="http://events.ccc.de/congress/2009/wiki/Conference_Recordings">Aufzeichnungen</a>, um sich verpasste Veranstaltungen anzuschauen.</p>
<p>Alleine macht das Anschauen jedoch nur halb soviel Spaß, weshalb wir  regelmäßige Videoabende veranstalten, auf denen die Vorträge gezeigt  werden. Ein erster Termin steht auch schon vor der Tür:</p>
<p><strong>Ort:</strong> Hackerspace Rhein-Neckar (<a href="http://wiki.raumzeitlabor.de/wiki/Anfahrt">Wegbeschreibung</a>)<br /> <strong>Zeit:</strong> Donnerstag, 7. Januar, ab 18 Uhr</p>
<p>Als erster Vortrag wird <a href="http://events.ccc.de/congress/2009/Fahrplan/events/3685.en.html">Im Herz der Bestie – Medien hacken</a> gezeigt. Je nach Interesse und Uhrzeit wird danach noch gemütlich  diskutiert, ein weiterer Vortrag geschaut oder einfach eine DVD  eingelegt.</p>
<p>Falls Ihr keine Zeit habt, gerne aber an einem anderen Termin vorbeikommen wollt, dann tragt Euch einfach in der <a href="http://doodle.com/4gnp627cae8whtnt">Umfrage für den nächsten Termin</a> ein.</p>
</div>
