---
layout: post
title: 1. Large Hackerspace Convention
date: 2010-07-23 22:03:00.000000000 +02:00
categories: []
tags:
- Event
- Large Hackerspace Convention
- Party
- Vortrag
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_right 0"><img class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" title="" src="/assets/nicubunu_Chocolate_birthday_cake.png" alt="198" width="250" height="250" /> </span></p>
<p>&nbsp;</p>
<p>Es ist soweit! Das RaumZeitLabor feiert seine große Einweihungsparty.</p>
<p>Dank des unermesslichen Engagements der vielen Ehrenamtlichen ist eine Infrastruktur geschaffen worden, die allen am kreativen Umgang mit Technik Interessierten eine Werkstätte, einen Platz zum Lernen und Lehren bietet.</p>
<p>Aus diesem Grund seid ihr alle herzlich eingeladen mit uns zusammen zu feiern.</p>
<p><strong>Wann:</strong> 27. bis 29. August 2010<br />
<strong>Wo:</strong> RaumZeitLabor, Boveristraße 22-24, 68309 Mannheim (<a href="http://wiki.raumzeitlabor.de/wiki/Anfahrt">Wegbeschreibung</a>)</p>
<p>Weitere Informationen zu Vorträgen, Workshops, Übernachtung, etc. werden unter <a href="http://lhc.raumzeitlabor.de/">http://lhc.raumzeitlabor.de/</a> bekannt gegeben.</p>
<p>Möchtest Du selbst gerne einen Vortrag halten, Workshop anbieten oder hast eine Frage? Schreib einfach eine E-Mail an <a href="mailto:info@raumzeitlabor.de">info@raumzeitlabor.de</a></p>
<p>Happy Hacking!</p>
