---
layout: post
title: 'Bits & Bites Brunch #3'
date: 2010-12-09 11:41:00.000000000 +01:00
categories: []
tags:
- Bits & Bites Brunch
- Nerd am Herd
status: publish
type: post
published: true
meta: {}
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_none 0"><img src="/assets/toaster.png" alt="5" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="462" height="170" /> <span class="image_meta"></span></span>Nach dem Pritish Power-Preakfast bei der 42-Party am 10.10.10 wird es  mal wieder Zeit für ein offizielles Bits &amp; Bites Brunch.</p>
<p>Die RaumZeitLaboranten laden euch deshalb zur dritten Ausgabein ihre  Räumlichkeiten ein, um ein ausgedehntes Frühstück bei netten Gesprächen  in nerdiger Atmosphäre zu genießen.</p>
<p>Sämtliche Sicherheitsmaßnahmen für einen reibungfreien  kontinuierlichen Ablauf der Nahrungsaufnahme werden in Form von  Flüssigreagenzien wie Kaffee oder Tee, aber auch Milch und Kakao sowie  Säfte und durch die Bereitstellung von Versuchsanordnungen wie  "Waffeleisen", "Kaffemaschine", "Herd" und "Kühlschrank" gewährleistet.  Letztere ist mit den Elementen Wurst, Schinken, Käse, Butter, Margarine  und Brotaufstriche ausreichend bestückt um mehere Versuchsreihen  durchzuführen. Auch exklusivere Labormaterialien wie Müsli oder  Cornflakes und diverse andere Cerealien werden bereitgehalten. Als  Vergleichsmuster werden vorraussichtlich Kuchen und/oder Muffins  verwendet werden können.</p>
<p><strong>Wann:</strong> Sonntag, 19. Dezember 2010, ab 11 Uhr<br /> <strong>Wo: </strong>RaumZeitLabor (<a href="http://raumzeitlabor.de/kontakt/anfahrt/">Anfahrtsbeschreibung</a>)</p>
<p>Für eine gute Planung der Versuchsanordnungen bitten wir um  Rückmeldung der Teilnehmer in den Kommentaren (ja, ein +$Anzahl reicht  auch) oder auf der Mailingliste bzw. dem Wiki. Ebenso werden Anregungen  und etwaige Sonderwünsche auf diesen Kommunikationsebenen angenommen.</p>
