---
layout: post
title: Bits & Bites-Brunch
date: 2010-03-12 13:22:00.000000000 +01:00
categories: []
tags:
- Bits & Bites Brunch
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<div class="postentry">
<p><span class="wysiwyg_imageupload image imgupl_floating_right imgupl_styles_spacing_5"><img class="imagecache wysiwyg_imageupload imgupl_styles_spacing_5 imagecache imagecache-wysiwyg_imageupload_blog_standard" title="" src="/assets/espresso.png" alt="161" width="160" height="174" /> </span></p>
<p>Wir laden Euch recht herzlich zum ersten <em>Bits &amp; Bites-Brunch</em> im RaumZeitLabor ein.</p>
<p>Für knusprige Brötchen, Tee und Kaffee ist gesorgt. Rühreier, Bacon und Zutaten für frische Waffeln werden gerne eingekauft (einfach in den Kommentaren melden).</p>
<p>Liebhaber gegrillter Kost können ihr Mahl auch auf unserem Gasgrill zubereiten. Ein Backofen für leckere Baguettes und Kühlschränke für Salate, Soßen und Co. stehen zu eurer Verfügung.</p>
<p><strong>Wann:</strong> Sonntag, 14. März, ab 12 Uhr<br />
<strong>Wo:</strong> RaumZeitLabor (<a href="http://wiki.raumzeitlabor.de/wiki/Anfahrt">Anfahrtsbeschreibung</a>)</p>
<p>Wir freuen uns auf Euer zahlreiches Erscheinen.</p>
</div>
