---
layout: post
title: Bausatzwahnsinn
date: 2011-02-23 23:50:08.000000000 +01:00
categories: []
tags:
- Bauteile
- KleinProzessorZüchter
- Löten
status: publish
type: post
published: true
meta: {}
author:
  login: tabascoeye
  email: tabascoeye@gmx.de
  display_name: TabascoEye
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_none 0"><img src="/assets/IMG_0941_cropscale_1.jpg" alt="30" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="560" height="269" /> <span class="image_meta"></span></span></p>
<p><strong>Die <a href="http://wiki.raumzeitlabor.de/wiki/KleinProzessorZ%C3%BCchter">KleinProzessorZüchter</a> haben mal wieder das Lager befüllt.</strong></p>
<p>Neu eingetroffen sind die Bauteile für die <a href="http://wiki.raumzeitlabor.de/wiki/Moodlamp">MoodLamp V2</a>. Hier sind jetzt 20 Bausätze auf Lager (im Vordergrund, die ersten 10 sind die premium Varianten mit Fernbedienung).</p>
<p>Ein Dauerbrenner sind auch unsere hocheffizienten <a href="http://wiki.raumzeitlabor.de/wiki/TV-B-Gone">TV-B-gone</a> Bausätze (in der Bildmitte, erkennbar an den speziellen Plastikgehäusen, 6 Stück noch auf Lager)</p>
<p>Frisch eingetroffen und noch auf Platinen wartend liegen wieder 10 <a href="http://www.das-labor.org/wiki/Usbasp">usbasp</a> Bausätze bereit, um enthusiastische Atmel-coder mit ihren Schaltungen zu verkuppeln. Ausserdem lassen sich aus den usbasps schicke weitere Dinge bauen (siehe <a href="http://wiki.ullihome.de/index.php/Hauptseite">hier</a>)</p>
<p>Und für alle, die mit einem vollflexiblen Entwicklungsboard mit ATmega32 durchstarten wollen liegen noch 2 <a href="http://das-labor.org/wiki/Laborboard">Laborboard</a> Bausätze bereit (ganz hinten im Bild)</p>
<p>Worauf wartet Ihr noch? Ab ins RaumZeitLabor und Löten, was die Kolben hergeben!</p>
