---
layout: post
title: 'Nerd am Herd: Tiefkühlpizzaersatzprogramm  10. Mai: Gemüsecurry//Kokosmilchreis'
date: 2011-05-10 20:45:04.000000000 +02:00
categories: []
tags:
- Essen
- Lecker
- Nerd am Herd
- omnomnom
status: publish
type: post
published: true
meta: {}
author:
  login: zwetschgo
  email: zwetschgo@gmail.com
  display_name: zwetschgo
  first_name: ''
  last_name: ''
---
<p>Gemüsecurry mit Basmatireis und Kokosmilchreis mit Bananenmus. Ungefähre Kosten und Zutaten werden im <a href="http://wiki.raumzeitlabor.de/wiki/Nerd_am_Herd">Wiki</a> aufgelistet.</p>
<p><span class="wysiwyg_imageupload image imgupl_floating_none 0"><img src="/assets/curry.jpg" alt="49" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="500" height="375" /> <span class="image_meta"></span></span><br /><span class="wysiwyg_imageupload image imgupl_floating_none 0"><img src="/assets/milchreis.jpg" alt="50" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="500" height="375" /> <span class="image_meta"></span></span></p>
