---
layout: post
title: 'Serious Business: RaumZeitLabor goes Minecraft'
date: 2011-10-28 14:06:45.000000000 +02:00
categories: []
tags:
- Minecraft
status: publish
type: post
published: true
meta: {}
author:
  login: else
  email: simon+rzl@iodev.org
  display_name: else
  first_name: ''
  last_name: ''
---
<p style="text-align: right;"><span class="wysiwyg_imageupload image imgupl_floating_none 0"><img src="/assets/minecraft__pig_by_silversliver17-d3182qr.jpg" alt="81" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="560" height="360" /> <span class="image_meta"></span></span><span style="font-size: x-small;">CC BY-NC-ND 3.0 <a href="http://silversliver17.deviantart.com/gallery/#/d3182qr">SilverSliver17</a></span></p>
<p>Wie sicherlich der ein oder andere Laborant festgestellt hat, ist auch am RaumZeitLabor das Minecraft-Fieber nicht vorbeigegangen und unser <a href="http://wiki.raumzeitlabor.de/wiki/Minecraft">Server</a> erfreut sich großer Beliebtheit.</p>
<p>An dieser Stelle möchten wir kurz darauf hinweisen, dass wir gestern aus verschiedenen Gründen den Server resettet und eine neue Karte gestartet haben. Neulingen, die aufgrund der fortgeschrittenen Fragmentierung der Karte vor einem Einstieg zurückgeschreckt sind bietet sich somit der ideale Einstiegszeitpunkt, um sich gemeinsam in der Welt durchzuschlagen.</p>
<p>Wie man seinen Account auf dem Server freischalten lässt und andere wissenswerte Informationen findet ihr in unserem <a href="http://wiki.raumzeitlabor.de/wiki/Minecraft">Wiki</a>.&nbsp;Zur Kommunikation untereinander wurde eine Mailingliste eingerichtet, auf der sich ausgetauscht werden kann. Selbstverständlich sind auch Nichtmitglieder auf dem Server willkommen!</p>
