---
layout: post
title: Platz für Deine Ideen
date: 2011-12-08 22:01:06.000000000 +01:00
categories: []
tags:
- Ivar
- Lager
- Samla
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: inte
  email: inte@oqlt.de
  display_name: Inte
  first_name: ''
  last_name: ''
---
<p>Derzeit haben wir alle Projekte und persönlichen Gegenstände in kleinen Samla Boxen (22l) von IKEA verstaut. In Kombination mit der Regalserie Ivar haben wir derzeit (theoretisch) Platz für 84 Boxen.</p>
<p><span class="wysiwyg_imageupload image imgupl_floating_right imgupl_styles_spacing_5"><img class="imagecache wysiwyg_imageupload imgupl_styles_spacing_5 imagecache imagecache-wysiwyg_imageupload_blog_standard" title="" src="/assets/20111208_214301.jpg" alt="116" width="300" height="400" /> </span></p>
<p>Inzwischen hat sich einiges an Material angesammelt, das etwas sperriger ist. Damit das nun auch verstaut werden kann, wurde heute ein Schwung Samla Boxen einer neuen Größe (45l) angeschafft.</p>
<p>Wenn ihr also Tastaturen, klobigere Projekte oder einfach nur jede Menge Kleinkram verstauen wollt, haben wir jetzt die Lösung für Euch.</p>
<p>Werft einfach 10€ (5€ Kiste + 2€ Deckel +3€ Spende) in die Kasse und klebt Euren Namen auf eins der noch freien Exemplare.</p>
<p>Leider passen die Kisten nicht in unsere Standardregale, weswegen wir eine Regalserie suchen, welche den Neuankömmlingen ohne Platz zu verschenken ein Zuhause bietet. Schreibt Eure Vorschläge einfach in die Kommentare oder auf <a href="http://wiki.raumzeitlabor.de/wiki/Gorm_%26_Ivar">die Projektseite zu Gorm &amp; Ivar im Wiki.</a></p>
