---
layout: post
title: 'Nerd am Herd: Tiefkühlpizzaersatzprogramm ab dem 3. Mai regelmäßig'
date: 2011-05-04 12:59:12.000000000 +02:00
categories: []
tags:
- Essen
- Kochen
- Küche
- Nerd am Herd
- omnomnom
status: publish
type: post
published: true
meta: {}
author:
  login: zwetschgo
  email: zwetschgo@gmail.com
  display_name: zwetschgo
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_none 0"><img src="/assets/wok_2.jpg" alt="46" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="500" height="375" /> <span class="image_meta"></span></span></p>
<p>Seit dem 3.Mai gibt es ein Nerd am Herd Revival. Es gibt wieder regelmäßig leckeres Essen, frisch zubereitet und günstig. Geplant sind jeweils ein Hauptgericht und ein Nachtisch. Zum Start gab es Woknudeln mit Gemüse und Vanillepudding mit Apfel-Rhabarber-Kompott. Ungefähre Kosten und Zutaten werden im <a href="http://wiki.raumzeitlabor.de/wiki/Nerd_am_Herd" target="_self">Wiki</a> aufgelistet.</p>
<!--more-->
<p><span class="wysiwyg_imageupload image imgupl_floating_none 0"><img src="/assets/nudeln.jpg" alt="47" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="500" height="375" /> <span class="image_meta"></span></span><br /><span class="wysiwyg_imageupload image imgupl_floating_none 0"><img src="/assets/pudding.jpg" alt="48" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="500" height="375" /> <span class="image_meta"></span></span></p></p>
