---
layout: post
title: 2.000 verschiedene Bauteile
date: 2011-07-11 12:14:22.000000000 +02:00
categories: []
tags:
- Bauteile
- Partkeepr
- Wahnsinn
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: felicitus
  email: privat@timohummel.com
  display_name: Felicitus
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_right 0"><img class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_standard" title="Das 2.000 Bauteil" src="/assets/2011-07-11-114059.jpg" alt="69" width="300" height="225" /> <span class="image_meta"><span class="image_title"><br />
<em>Das 2.000 Bauteil</em></span></span></span></p>
<p>Heute um 11:30 war es soweit: Das 2.000 Bauteil wurde erfasst. Doch nicht beirren lassen: Es handelt sich hierbei um den 2.000 Bauteiltyp - nicht um die Gesamtmenge. Die beläuft sich mittlerweile auf über 40.000 Einzelstücke. Wie auch immer - Grund genug, einmal zu dokumentieren, wieso man soviele Bauteile in einem Hackerspace braucht, will und woher die alle kommen.</p>
<!--more-->
<p>Rechts seht ihr übrigens das 2.000 Bauteil - eine Diode vom Typ 1N5406.</p>
<p><strong>Woher kommen denn die Bauteile?</strong></p>
<p>Bei uns gibt es diverse "Hauptquellen":</p>
<ul>
<li>Gekaufte Bauteile</li>
<li>Bauteile, die von Mitgliedern zur Verfügung gestellt werden</li>
<li>Bauteile von alten Geräten</li>
<li>Bauteile, die aus Bauteilsortimenten stammen</li>
</ul>
<p>Wie man Bauteile von alten Geräten und Platinen entlötet, haben wir unter <a href="http://raumzeitlabor.de/blog/mehr-bauteile">http://raumzeitlabor.de/blog/mehr-bauteile</a> dokumentiert. Bauteile von Mitgliedern bezieht sich auf Bauteile, die bei Mitgliedern bislang zuhause gesammelt wurden und im RaumZeitLabor eingelagert wurden. Gekaufte Bauteile bezieht sich auf Bauteile, die für Projekte gekauft wurden, und bei denen ein Überschuss eingelagert wurde.</p>
<p>Der Großteil der Bauteile stammt von entlöteten Platinen sowie aus Bauteilsortimenten eines großen deutschen Elektronikdiscounters.</p>
<p><strong>Und was macht man damit?</strong></p>
<p>Da man nie so genau weiß, welches coole Projekt man als nächstes machen möchte, kann man nicht vorhersagen, welches Bauteil man denn so benötigt. Deshalb gilt die Faustregel: Alles, was nicht unbedingt Schrott bzw. Defekt ist, soll man aufheben. Dabei ist aber zu beachten: Je mehr Informationen zu einem Bauteil verfügbar sind, desto eher kann man es nutzen. Denn was nützt einem z.B. die größte Anzahl an Spulen, wenn niemand weiß, welche Wertigkeit dieselbe hat? Daher gilt: Wenn sich ein Datenblatt zu dem Bauteil findet, so sollte man dieses auch unbedingt in der Bauteileverwaltung hinterlegen.</p>
<p><span class="wysiwyg_imageupload image imgupl_floating_right 0"><img class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_standard" title="" src="/assets/IMG_20110706_023234.jpg" alt="70" width="300" height="226" /><br />
<em><span class="image_meta"><span class="image_title">Ein Projekt aus vielen entlöteten Bauteilen</span></span></em></span></p>
<p>Oftmals ergibt sich auch ein Platinenlayout einfach nur durch die vorhandenen Bauteile. Die rechts abgebildete Platine für ein LC-Meter besteht zu etwa 50% aus ausgelöteten Bauteilen, zu etwa 30% aus vorhandenen Bauteilen und nur 20% der Bauteile wurden für dieses Projekt bestellt:</p>
<ul>
<li>Steckverbinder, Stiftleisten, Trimmer, der Quarz, die Elkos und der Kühlkörper für den LM7805 stammen aus entlöteten Platinen</li>
<li>IC-Sockel, Keramikkondensatoren und Widerstände waren allesamt vorrätig</li>
<li>Nur der Glimmerkondensator, die Induktivität und der Folienkondensator wurden für dieses Projekt bestellt (zuzüglich der nicht abgebildeten Relais sowie des ATMEGA8-16PU, die jedoch auf diesem Bild nicht eingesetzt sind)</li>
</ul>
<p>Insgesamt wurden rund 5-10 Euro durch Gebrauchtteile gespart - dazu kommen noch die Steckverbinder, die man nicht bei den Elektronikversendern bekommt (zumindest nicht für Privatpersonen in kleinen Mengen).</p>
<p><strong>Ok, aber wie behält man bei sovielen Teilen den Überblick?</strong></p>
<p><span class="wysiwyg_imageupload image imgupl_floating_right 0"><img class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_standard" title="PartKeepr, unsere Bauteileverwaltung" src="/assets/68a142a312d26fea6cab2a70d8b76a17_medium_0.png" alt="72" width="300" height="192" /> <span class="image_meta"><span class="image_title"><br />
<em>PartKeepr, unsere Bauteileverwaltung</em></p>
<p></span></span></span>Zur Teileverwaltung gibt es diverse Ansätze, die ich bereits unter <a href="http://hackerspaces.org/wiki/Electronics_Lab/Inventorizing_Parts">hackerspaces.org</a> dokumentiert habe (sorry, nur in Englisch).</p>
<p>Im RaumZeitLabor verwenden wir eine <a href="http://de.wikipedia.org/wiki/Dynamische_Lagerhaltung">dynamische Lagerhaltung</a> (auch chaotische Lagerhaltung genannt). In der Praxis heißt das: Da, wo ein Fach frei ist, kommt das Bauteil hinein und wird in einer Software erfasst. Hierzu verwenden wir die Software <a href="http://freshmeat.net/projects/partkeepr">PartKeepr</a>, die von uns zu diesem Zweck entwickelt wurde (früher verwendeten wir die Software <a href="http://www.mikrocontroller.net/articles/Part-DB_RW_-_Lagerverwaltung">PartDB</a>, jedoch fehlten uns viele Funktionen, die wir dringend benötigten).</p>
<p>Im PartKeepr kann man das gewünschte Teil suchen und bekommt dann die Information, in welchem Lagerort das Bauteil zu finden ist. Außerdem können wir so feststellen, wieviele Teile eines bestimmten Typs noch vorhanden sind und ob nachbestellt werden muß.</p>
<p><strong>Fazit</strong></p>
<p>Noch längst sind nicht alle Bauteile erfasst. Aber eins ist sicher: Wer ein Elektronikprojekt im RaumZeitLabor durchführen möchte, der hat sehr gute Chancen, daß viele der benötigten Bauteile sofort verfügbar sind.</p>
