---
layout: post
title: LC-Meter
date: 2011-07-19 00:46:39.000000000 +02:00
categories: []
tags:
- Atmel
- LC-Meter
status: publish
type: post
published: true
meta: {}
author:
  login: felicitus
  email: privat@timohummel.com
  display_name: Felicitus
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_right 0"><img src="/assets/LC_Meter.jpg" alt="73" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_standard" style="" width="300" height="100" /> <span class="image_meta"></span></span></p>
<p>Seit ein paar Tagen hat sich ein neues Gerät in der Elektronikecke eingefunden: Ein <a href="http://wiki.raumzeitlabor.de/wiki/LC_Meter" target="_blank">LC-Meter</a>!</p>
<p>Mit einem <a href="http://wiki.raumzeitlabor.de/wiki/LC_Meter" target="_blank">LC-Meter</a> lässt sich die Wertigkeit von Kondensatoren und Induktivitäten messen. Während die meisten Kondensatoren mit der Wertigkeit beschriftet sind, sieht es bei Induktivitäten eher mau aus: Nur die wenigsten sind beschriftet, und wenn, geht das Ratespiel los, ob es sich bei der Wertigkeit um µH oder mH handelt. Doch das Problem hat sich dank dem LC-Meter erübrigt (mit Einschränkungen im Wertemessbereich).</p>
<p>Die Originalschaltung stammt aus dem <a href="http://www.mikrocontroller.net/topic/60797" target="_blank">mikrokontroller.net-Forum</a> und wurde adaptiert - herausgekommen sind das <a href="http://wiki.raumzeitlabor.de/wiki/LC_Meter" target="_blank">LC-Meter</a>&nbsp;sowie eine universelle <a href="http://raumzeitlabor.de/wiki/78xx-Platine" target="_blank">78xx-Platine</a>, welche auch in anderen Projekten für die Spannungsversorgung verwendet werden kann.</p>
<p>Das Gehäuse des LC-Meters stammt aus einem alten MGA/CGA/EGA zu 6x EGA-Konverter, bei welchem die Löcher mit Flüssigmetall versiegelt wurden. Danach wurde das Gehäuse schwarz lackiert. Die Taster sind zwar suboptimal, erfüllen aber ihren Zweck.</p>
