---
layout: post
title: MOAR - Month of Awesome RaumZeitLabor
date: 2011-03-16 01:12:00.000000000 +01:00
categories: []
tags:
- Event
- Geekend
- KleinProzessorZüchter
- Vortrag
- Workshop
status: publish
type: post
published: true
meta: {}
author:
  login: tabascoeye
  email: tabascoeye@gmx.de
  display_name: TabascoEye
  first_name: ''
  last_name: ''
---
<p><strong>Der April wird heiß im RaumZeitLabor!</strong></p>
<p>Wir beginnen direkt am <strong>ersten April Wochenende (1.-3.)</strong> mit einem <strong>Geekend</strong> der <a href="http://wiki.raumzeitlabor.de/wiki/KleinProzessorZ%C3%BCchter">KleinProzessorZüchter (KPZ)</a>. Hier wollen wir im groben Zeitplan Freitags einen Löt- und Anfängerworkshop abhalten, Samstag mit dem gemeinsamen Aufbau von Bausätzen (in erster Linie unsere <a href="http://raumzeitlabor.de/wiki/Moodlamp">Moodlamp</a>V2) verbringen, und Sonntags eine Codingsession und Überlegungen zu <strong>euren</strong> Mikrocontrollerprojekten und -ideen starten.</p>
<p>Weiter gehts mit der schon im März beginnenden <strong>Vortragsserie</strong> von Alex zum Thema <strong>Elektrotechnikgrundlagen</strong> (siehe <a href="http://www.doodle.com/a2whx3nc64bid72a%20">dieses Doodle</a> und demnächst im Kalender und Wiki). Diese soll ca 10 kurze Vorträge zu Themen wie Gleichsspannung, Gleichstrom, Spannungsmessung, Strommessung, Widerstände, Oszilloskop etc. pp. enthalten.</p>
<p>Auch TabascoEye plant einen <strong>Vortrag</strong> zum Thema <strong>(2D) Barcodes</strong> (separate Ankündigung und Kalendereintrag folgen).</p>
<p><span class="wysiwyg_imageupload image imgupl_floating_right 0"><img src="/assets/Toaster_new.png" alt="36" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="462" height="170" /> <span class="image_meta"></span></span></p>
<p>Weiterhin wird am <strong>Sonntag vor dem Easterhegg (17.4.)</strong> endlich wieder eine Instanz unseres beliebten <strong><a href="http://wiki.raumzeitlabor.de/wiki/Bits_%26_Bites_Brunch">Bits&amp;Bites Brunch</a></strong> stattfinden. Gegen eine Unkostenpauschale von 5 Euro gilt es soviel zu  schlemmen, bis der Laptop keinen halt mehr auf dem Kugelbauch findet.</p>
<p>Eine kleine Delegation des RaumZeitLabor wird am vierten Aprilwochenende (Ostern) nach Hamburg zum <a href="http://eh2011.hamburg.ccc.de/">Easterhegg</a> reisen, diese hofft aber, dass das RaumZeitLabor auch in Abwesenheit bespasst und gerockt wird .</p>
<p>Dieses reichhaltige Programm hält uns natürlich nicht von unserem normalen Wochenrhythmus ab: WIe immer findet Diesntags der oqlt Treff statt, Mittwochs die KleinProzessorZüchter, Donnerstags das bunte Spielelabor, sowie Wipe&amp;Defrag, unser Putz- und Aufräumevent im RZL.</p>
<p>Bleibt nur die Frage: Are you ready for <strong>MOAR</strong>?</p>
