---
layout: post
title: 2mm-Messleitungen selbst herstellen
date: 2011-07-20 21:40:09.000000000 +02:00
categories: []
tags:
- Herstellung
- Messleitungen
status: publish
type: post
published: true
meta: {}
author:
  login: felicitus
  email: privat@timohummel.com
  display_name: Felicitus
  first_name: ''
  last_name: ''
---
<p>Heute zeigen wir euch, wie ihr eure eigenen 2mm-Messleitungen herstellen könnt. <a href="http://wiki.raumzeitlabor.de/wiki/2mm_Messleitungen" target="_blank">Anleitung gibt's im Wiki</a>, Video hier:</p>
<p><iframe width="560" height="349" src="https://www.youtube.com/embed/4L259VdbxaE" frameborder="0" allowfullscreen></iframe></p>
