---
layout: post
title: 'Coming Up: Ubuntu Developer Week'
date: 2012-01-29 18:28:38.000000000 +01:00
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
author:
  login: thetinytoon
  email: larsscheithauer@googlemail.com
  display_name: TheTinyToon
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_right imgupl_styles_spacing_10"><img src="/assets/UDW.png" alt="126" title="Logo Ubuntu Developer Week" class="imagecache wysiwyg_imageupload imgupl_styles_spacing_10 imagecache imagecache-wysiwyg_imageupload_blog_standard" style="" width="300" height="46" /> <span class="image_meta"><span class="image_title">Logo Ubuntu Developer Week</span></span></span>Die Ubuntu Developer Week ist eine regelmäßig stattfindendes Online-Seminar mit einer Reihe von Voträgen rund um das Thema Ubuntu. Wie der Name suggeriert, geht es um die Entwicklungsseite - von Programmieren über Zusammenarbeit bis hin zu Workflows, die übrigens nicht alle Ubuntu-spezifisch sein müssen.</p>
<p>Mehr dazu gibt es auf der dazugehörigen <a href="http://wiki.raumzeitlabor.de/wiki/Ubuntu_Developer_Week" target="_blank">Wiki-Seite</a> im RZL-Wiki oder auf der <a href="https://wiki.ubuntu.com/UbuntuDeveloperWeek" target="_blank">UDW-Hauptseite</a>.</p>
