---
layout: post
title: Einladung zur GnoblauchProgrammierNacht (GPN) im RaumZeitLabor
date: 2012-06-10 17:09:40.000000000 +02:00
categories: []
tags:
- Fleisch
- GPN
- knoblauch
- Programmieren
- rumnerden
- Tschunk
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: unicorn
  email: mail@oliverknapp.de
  display_name: Unicorn
  first_name: ''
  last_name: ''
---
<div id="magicdomid819" class="ace-line"><span class="wysiwyg_imageupload image imgupl_floating_none_left 0"><img class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" title="GPN - GnoblauchProgrammierNacht" src="/assets/GPN_Plakat.jpg" alt="239" width="560" height="792" /> <em><span class="image_meta"><span class="image_title">GPN - GnoblauchProgrammierNacht</span></span></em></span></div>
<p></p>
<div class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06">Die letzte vom RaumZeitLabor veranstaltete GPN [1] war auch dank der Hilfe unserer Aussenstelle in Karlsruhe [2] ein riesen Erfolg, Zeit also, das tolle Event wieder stattfinden zu lassen!</span></div>
<div class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06"><br />
</span></div>
<div id="magicdomid981" class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06">Wir laden daher alle Lebewesen der intergalaktischen Gemeinschaft zur ultimativen GnoblauchProgrammierNacht ins RaumZeitLabor [3]. Gemeinsam genießen wir Spezialitäten mit der Arzneipflanze des Jahres 1989 und coden für den Weltfrieden (oder für was auch immer). Rumnerden mit Tschunk und Lötzinn ist selbstverständlich auch erlaubt.</span></div>
<div class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06"><br />
</span></div>
<div id="magicdomid927" class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06">Kommt also zahlreich und bringt eure Lieblingsspezialität mit Knoblauch zum gemeinsamen Erleben mit.</span></div>
<div class="ace-line"></div>
<div class="ace-line"><a title="GnoblauchProgrammierNacht (GPN) im Wiki" href="https://wiki.raumzeitlabor.de/wiki/GnoblauchProgrammierNacht"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06">Einen Fahrplan sowie eine Möglichkeit zum Eintragen eigener Mitbringsel findet sich in unserem Wiki.</span></a></div>
<div class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06"><br />
</span></div>
<div id="magicdomid1005" class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06">Beginn ist am Samstag den 16.06.2012 um 19 Uhr.</span></div>
<div class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06"><br />
</span></div>
<div id="magicdomid398" class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06">[1] </span><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06 url"><a href="http://gulas.ch">http://gulas.ch</a></span></div>
<div id="magicdomid496" class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06">[2] </span><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06 url"><a href="http://entropia.de">http://entropia.de</a></span></div>
<div id="magicdomid525" class="ace-line"><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06">[3] </span><span class="author-a-4z80zz85ztdz122zz73zz85ztz74zm7mo06 url"><a href="http://raumzeitlabor.de">http://raumzeitlabor.de</a></span></div>
