---
layout: post
title: 'Hands-On Workshop: GIMP'
date: 2012-01-18 07:25:13.000000000 +01:00
categories: []
tags:
- GIMP
- Workshop
status: publish
type: post
published: true
meta: {}
author:
  login: blabber
  email: tobias.rehbein@web.de
  display_name: blabber
  first_name: ''
  last_name: ''
---
<p><span style="float:left;"><img src="/assets/wilber_the_gimp2_0.png" alt="125" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" style="" width="80" height="60" /></span>Das "GNU Image Manipulation Program" (GIMP) ist ein freies, leistungsfähiges Programm zur Bildbearbeitung. Hinsichtlich der angebotenen Funktionen braucht sich GIMP nicht vor kommerziellen Angeboten wie Photoshop zu verstecken, über die Benutzerfreundlichkeit kann man hingegen vortrefflich streiten.</p>
<p>Da die Einstiegshürde in GIMP relativ hoch ist wird Lars, aka TheTinyToon, am kommenden Mittwoch, den 25.01., einen Hands-on Workshop zum Thema Gimp anbieten:</p>
<p>Eine Einführung in die freie Bildbearbeitung GIMP. Anhand eines  Beispiel-Flyers erarbeiten wir die notwendigen Techniken und Konzepte  für den alltäglichen Gebrauch.</p>
<h1> Vorbereitungen</h1>
<p>Damit wir abends direkt loslegen können, sollte Gimp in der Version  2.7.4 installiert sein. Diese Version ist der aktuelle  Developersnapshot, der diverse Vorteile hat und Bedienkuriositäten der  2.6er Reihe ausbügelt.</p>
<ul>
<li> Linux (Ubuntu und Derivate): <a class="external text" rel="nofollow" href="https://sites.google.com/site/installationubuntu/graphics/gimp-2-7">Anleitung</a> </li>
<li> Linux (Source): <a class="external text" rel="nofollow" href="ftp://ftp.gimp.org/pub/gimp/v2.7/gimp-2.7.4.tar.bz2">ftp.gimp.org</a> </li>
<li> Windows: <a class="external text" rel="nofollow" href="http://sourceforge.net/projects/gimp-win/files/GIMP%20%2B%20GTK%2B%20%28development%20rel.%29/GIMP%202.7.4/gimp-2.7.4-setup.exe/download">Sourceforge.net</a> </li>
</ul>
<p>Dringend empfohlen wird außerdem eine externe Maus oder sogar ein Graphiktablet.</p>
<h1>Themen</h1>
<ul>
<li> Einführung in die GUI - Customizing </li>
<li> Basis-Werkzeuge </li>
<li> Kanäle </li>
<li> Ebenen </li>
<li> Masken </li>
<li> typische Bildbearbeitungen </li>
</ul>
<h2>Weitere Themenwünsche</h2>
<p>Habt ihr noch weitere Themenwünsche? Dann bitte <a href="http://wiki.raumzeitlabor.de/wiki/Workshops/Hands-on:_GIMP">hier</a> eintragen, evtl. kann ich sie direkt in das Beispiel einbauen.</p>
<p>Los geht's um 18:30 Uhr und geplant ist eine Workshopdauer von drei Stunden. Denkt dran öfters mal auf die <a href="http://wiki.raumzeitlabor.de/wiki/Workshops/Hands-on:_GIMP">Wiki</a> Seite zum Workshop zu schauen um immer auf dem aktuellen Stand zu sein.</p>
<p>Es handelt sich bei diesem Workshop um eine offene Veranstaltung. Auch du bist herzlich eingeladen.</p>
<p>Euer freundlicher Hackerspace von nebenan freut sich auf euren Besuch.</p>
<p><em>Blogeintrag aktualisiert am 18.01.2012<br /></em></p>
