---
layout: post
title: SSL für RaumZeitLabor.de
date: 2012-03-03 01:34:14.000000000 +01:00
categories: []
tags: []
status: publish
type: post
published: true
meta: {}
author:
  login: secure
  email: michael@stapelberg.de
  display_name: sECuRE
  first_name: ''
  last_name: ''
---
<p>Seit heute (2012-03-03) benutzt unser Wiki standardmäßig HTTPS, und auch die anderen Seiten sind über https verfügbar: <a href="https://raumzeitlabor.de">https://raumzeitlabor.de</a> und <a href="https://raumzeitlabor.de/blog">https://raumzeitlabor.de/blog</a>.</p>
<p>Bei Problemen bitte <a href="https://wiki.raumzeitlabor.de/wiki/Benutzer:SEC">sECuRE</a> bescheid sagen.</p>
