---
layout: post
title: Bamberger Übernahmeversuch erfolgreich abgewehrt
date: 2012-05-10 00:37:04.000000000 +02:00
categories: []
tags:
- backspace
- hackertreffen
- schinkenbier
- socialization
status: publish
type: post
published: true
meta: {}
author:
  login: blabber
  email: tobias.rehbein@web.de
  display_name: blabber
  first_name: ''
  last_name: ''
---
<p>Am letzten Wochenende (04. bis 06. Mai) herrschte erhöhte&nbsp; Alarmbereitschaft im RaumZeitLabor, da Übernahmeversuche durch den Bamberger Hackerspace „<a href="http://hackerspace-bamberg.de">Backspace</a>“ befürchtet wurden.</p>
<p>Eine&nbsp; vierköpfige Delegation des Backspace reiste freitags an, um sich unter&nbsp; dem Vorwand der besseren Vernetzung Zugang zum RaumZeitLabor zu verschaffen. Allerdings waren die wahren Absichten nur zu&nbsp; offensichtlich: 1. Mit Lösebier die von unbekannten RaumZeitLaboranten gekaperte Domain <a href="http://hackerspacebamberg.de">hackerspacebamberg.de</a> mit Lösebier freizukaufen und 2. sich mit einem Übernahmeversuch für die Operation <a href="https://www.youtube.com/watch?v=-zQ6oQmfyLY">Backspacetakeover</a> im März zu revanchieren.</p>
<p><span class="wysiwyg_imageupload image imgupl_floating_none_left 0"><img src="/assets/IMG_6482_0.jpg" alt="229" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_standard" style="" width="300" height="200" /> <span class="image_meta"></span></span></p>
<p>Wie bereits an anderer Stelle <a href="https://raumzeitlabor.de/blog/konspirative-geschaefte-im-raumzeitlabor">berichtet</a>, ist die Befreiung der gekaperten Domain glimpflich verlaufen und der Freitag konnte gemütlich, ohne die befürchteten Übernahmeversuche beendet werden.</p>
<!--more-->
<p>Am Samstag allerdings war es soweit. Nachdem der vierköpfige Bamberger Nachschubtrupp eingetroffen war, starteten unsere Gäste die Aktion RZLtakeover mit den Worten: „Habt ihr vielleicht Kabelbinder oder irgendwas anderes womit wir unser Banner aufhängen können?“ Vom Charme dieses dilletantischen Übernahmeversuchs überwältigt griff Unicorn dem Kaperkommando unter die Arme, so dass&nbsp; schon kurz darauf das Bamberger Banner vom Olymp herabhing. Aus unserer Sicht stellt das allerdings eher eine Dienstleistung unsererseits als eine gelungene Übernahme dar. ;)</p>
<p><span class="wysiwyg_imageupload image imgupl_floating_none_left 0"><img src="/assets/IMG_6508_0.jpg" alt="226" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_standard" style="" width="300" height="200" /> <span class="image_meta"></span></span></p>
<p>Nach einem gemeinsamen Besuch des Technikmuseums Speyer feierten wir den Besuch unserer Bamberger Freunde und die gelungene Abwehr des Übernahmeversuchs mit einer kleinen Feier. Bei dieser Gelegenheit konnten wir dank der Hilfe der RZL-Agenten Unicorn und silsha ein auf Schinkenbierflaschen hinterlegtes Rätsel lösen und somit den Code zur Rückeroberung der von unbekannten Bambergern gekaperten Domain <a href="http://raumzeitlabor.org">raumzeitlabor.org</a> knacken. Wie es sich für eine ordentliche Party gehört wurde von unseren Gästen gegen 4:00 Uhr morgens auch noch ein spontaner Vortrag zum Thema „Aluminiumguss“ gehalten.</p>
<p><span class="wysiwyg_imageupload image imgupl_floating_none_left 0"><img src="/assets/IMG_6558.jpg" alt="227" title="" class="imagecache wysiwyg_imageupload 0 imagecache imagecache-wysiwyg_imageupload_blog_standard" style="" width="300" height="200" /> <span class="image_meta"></span></span></p>
<p>Nach einem gemütlichen Abschlußessen im Odenwald mit regionalen Spezialitäten war der Abschied gekommen, allerdings ist die&nbsp; Fortsetzung der diplomatischen Beziehungen zwischen Bamberg und Mannheim bereits gesichert: Wir werden demnächst das Lösebierleergut im Backspace abgeben müssen.</p>
<p>Danke an alle beteiligten Personen für das großartige Wochenende. Bitte seid so gut und hinterlasst eure Meinung und Erlebnisse zu dem Wochenende in den Kommentaren.</p>
