---
layout: post
title: Unsere erste erfolgreiche Ätzsession
date: 2012-01-18 00:12:51.000000000 +01:00
categories: []
tags:
- "Ätzecke"
- Layout
- Platine
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: thetinytoon
  email: larsscheithauer@googlemail.com
  display_name: TheTinyToon
  first_name: ''
  last_name: ''
---
<p><span class="wysiwyg_imageupload image imgupl_floating_right imgupl_styles_spacing_10"><img class="imagecache wysiwyg_imageupload imgupl_styles_spacing_10 imagecache imagecache-wysiwyg_imageupload_blog_standard" title="" src="/assets/IMG_20120117_224856.jpg" alt="123" width="300" height="505" /> </span></p>
<p>Dank eines neuen (hoffentlich regelmäßig erscheinenden) Hobbyätzers (<a href="http://wiki.raumzeitlabor.de/wiki/Benutzer:Fabfrank">fabfrank</a>) haben wir unsere erste erfolgreiche Ätzsession hinter uns gebracht und können jetzt auch selbst Platinen layouten und herstellen. Die Ätzsession haben wir entsprechend im Wiki <a href="http://raumzeitlabor.de/wiki/%C3%84tzecke/%C3%84tzsession_17.01.2012">dokumentiert</a>.</p>
<p>Da der Ätzschrank seinem Namen gerecht wird und echt ätzende Dinge beinhaltet, ist der Schrank abgeschlossen und nur nach Einweisung benutzbar - die Einweisung kann z.B. bei <a href="http://wiki.raumzeitlabor.de/wiki/Benutzer:AlexanderB">AlexanderB</a>, <a href="http://raumzeitlabor.de/wiki/Benutzer:TabascoEye">TabascoEye</a> oder <a href="http://raumzeitlabor.de/wiki/Benutzer:Sur5r">Sur5r</a> mittels Matebestechung eingeholt werden.</p>
