---
layout: post
title: Let's ätz! MiniMoody Moodlamp
date: 2012-02-29 14:26:33.000000000 +01:00
categories: []
tags:
- minimoody
- moodlamp
- platinen
- smd
status: publish
type: post
published: true
meta:
  _edit_last: '12'
author:
  login: else
  email: simon+rzl@iodev.org
  display_name: else
  first_name: ''
  last_name: ''
---
<p><img class="imagecache wysiwyg_imageupload imgupl_styles_spacing_10 imagecache imagecache-wysiwyg_imageupload_blog_gesamtbreite" title="" src="/assets/uploads/2012/02/220px-MiniMoody_rot_gruen.jpg" alt="135" /></p>
<p>Am kommenden <strong>Dienstag, dem 6. März</strong>, stellt <a href="http://wiki.raumzeitlabor.de/wiki/Benutzer:Fabster">Fabster</a> sein neustes Projekt namens "<a href="http://raumzeitlabor.de/wiki/MiniMoody">MiniMoody</a>" im Rahmen der RaumZeitLaborierung vor. Hierbei handelt es sich um eine hübsche kleine Moodlamp, die sich per USB-Kabel direkt am Laptop betreiben läßt.</p>
<p>Im Gegensatz zu anderen Moodlamps zeichnet sich MiniMoody durch <em>zwei </em>unabhängig gesteuerte RGB-Leds aus, wodurch zeitliche und räumliche Farbverläufe ermöglicht werden. Die zahlreichen eingebauten Lichtsequenzen machen MiniMoody zu einem echten "Hingucker".</p>
<p>Fabster hat Teile für bis zu 10 Bausätze besorgt, welche am <strong>Mittwoch, dem 7. März</strong> bei den KleinProzessorZüchtern geätzt und gelötet werden sollen. Wer sich einen Bausatz sichern möchte, trägt sich bitte im <a href="http://wiki.raumzeitlabor.de/wiki/MiniMoody#Bausatzreservierung">Wiki</a> ein. Der Unkostenbeitrag beträgt 15 EUR und kommt komplett dem RaumZeitLabor zugute! Hierbei gilt: Wer zuerst kommt, lötet zuerst! Falls deutlich mehr Interesse vorhanden sein sollte, könnte man noch kurzfristig mehr Bauteile organisieren.</p>
<p>Wer MiniMoody nachbauen möchte, sollte über ausreichend Löterfahrung verfügen. Für Anfänger, die noch keine Löterfahrung haben oder noch etwas unsicher im Umgang mit dem Lötkolben sind, ist das Projekt nicht geeignet. (Aber natürlich haben wir auch für Anfänger geeignete Bausätze.)</p>
<p>Unser Dank gilt Fabster für die tolle Idee und Organisation.</p>
<p>Wir freuen uns auf euren Besuch!</p>
