<div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 rzl-blogpost">
    <h2><a href="{{ include.blogpost.url }}">{{ include.blogpost.title }}</a></h2>
    <p class="rzl-blogpost-date">veröffentlicht am {{ include.blogpost.date | date: "%-d." }} {% assign m = include.blogpost.date | date: "%-m" %}{% case m %}{% when '1' %}Januar {% when '2' %}Februar {% when '3' %}M&auml;rz {% when '4' %}April {% when '5' %}Mai {% when '6' %}Juni {% when '7' %}Juli {% when '8' %}August {% when '9' %}September {% when '10' %}Oktober {% when '11' %}November {% when '12' %}Dezember {% endcase %}{{ include.blogpost.date | date: "%Y" }}</p>
    {% if include.blogpost.content contains site.excerpt_separator and page.noexcerpt != true %}
    <p>{{ include.blogpost.excerpt | markdownify }}</p>
    <p><a href="{{ include.blogpost.url }}">weiterlesen…</a></p>
    {% else %}
    <p>{{ include.blogpost.content | markdownify }}</p>
    {% endif %}
</div>
{% capture loginname %}{{ include.blogpost.author.login | downcase }}{% endcapture %}
<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 rzl-blogpost-meta">
    <a style="display:block" href="http://w.rzl.so{% if site.user.[loginname].wikiusername %}/wiki/Benutzer:{{ site.user.[loginname].wikiusername }}{% endif %}">
    <div class="rzl-avatar" style="background-image: url('/assets/avatars/{% if site.user.[loginname].avatar %}{{ site.user.[loginname].avatar }}{% else %}{{ site.user.default.avatar }}{% endif %}')">&nbsp;</div>
    <p class="rzl-user">{% if include.blogpost.author %}{{ include.blogpost.author.display_name }}{% else %}Bernd Lauert{% endif %}</p></a>
    {% if include.blogpost.author.function %}<p class="rzl-function">{{ include.blogpost.author.function }}</p>{% else %}{% if site.user.[loginname].function %}<p class="rzl-function">{{ site.user.[loginname].function }}</p>{% endif %}{% endif %}
    {% if include.blogpost.facts %}
    <div class="rzl-blogpost-factbox">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left:10px">
        <dl class="rzl-blogpost-facts">
            {% for fact in include.blogpost.facts %}
            <dt>{{ fact[0] }}</dt><dd>{{ fact[1] }}</dd>
            {% endfor %}
        </dl>
    </div>
    </div>
    {% endif %}
</div>
